@import "./variables.scss";
// Media query breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


// Media Query mixins
@mixin for-phone-only {
  @media (max-width: 576px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 768px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 992px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1200px) { @content; }
}

// Normilizers
@mixin basic-btn {
    border: none;
    background-color: none;
    outline: none;
}

@mixin basic-page {
    padding-top: $navbarHeight;
}